#admin-layout {
  .logo {
    height: 2rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.3);
    background: #fff;
  }

  .site-layout .site-layout-background {
    background: #fff;
    padding: 1rem;
  }
}
